.desktop-pet-main {
  min-height: 246px;
  min-width: 315px;
  position: relative;
  width: 100%;
}

.desktop-pet-main .pet-main {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 269px;
}

.desktop-pet-main .props {
  height: 113px;
  left: 0;
  position: absolute;
  top: 78px;
  width: 84px;
}

.desktop-pet-main .avatar {
  background-image: url(../../../static/img/avatar.png);
  background-size: 100% 100%;
  height: 124px;
  left: 70px;
  position: absolute;
  top: 64px;
  width: 129px;
}

.desktop-pet-main .chat-bubble {
  display: flex;
  height: 89px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 109px;
}

.desktop-pet-main .div {
  flex: 1;
  position: relative;
  width: 111px;
}

.desktop-pet-main .chatbubble-bg {
  height: 100.00%;
  left: 0;
  position: absolute;
  top: 0;
  width: 98.16%;
}

.desktop-pet-main .rectangle {
  background-color: #fdfdfd;
  height: 19.07%;
  left: 38.74%;
  position: absolute;
  top: 20.19%;
  width: 20.72%;
}

.desktop-pet-main .emoji-status {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 33.66%;
  justify-content: center;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26.92%;
  width: 98.20%;
}

.desktop-pet-main .choice-overlay {
  height: 62.20%;
  left: 38.73%;
  position: absolute;
  top: 37.80%;
  width: 61.27%;
}

.desktop-pet-main .hide-button {
  height: 68px;
  left: 2px;
  position: absolute;
  top: 104px;
  width: 48px;
}

.desktop-pet-main .text-wrapper {
  color: #ffffff;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 23.53%;
  left: 33.53%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 76.47%;
  width: 58.32%;
}

.desktop-pet-main .ellipse {
  background-color: #0a78ff;
  border-radius: 22.63px / 13.69px;
  height: 27px;
  left: 1px;
  position: absolute;
  top: 13px;
  transform: rotate(56.00deg);
  width: 45px;
}

.desktop-pet-main .text-wrapper-2 {
  color: #ffffff;
  font-family: "Material Icons", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.desktop-pet-main .vector {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 17px;
  width: 10px;
}

.desktop-pet-main .setting-button {
  height: 60px;
  left: 41px;
  position: absolute;
  top: 94px;
  width: 66px;
}

.desktop-pet-main .text-wrapper-3 {
  color: #ffffff;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 20.00%;
  left: 15.15%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80.00%;
  width: 84.85%;
}

.desktop-pet-main .ellipse-2 {
  background-color: #0a78ff;
  border-radius: 22.63px / 13.69px;
  height: 27px;
  left: 3px;
  position: absolute;
  top: 12px;
  transform: rotate(42.81deg);
  width: 45px;
}

.desktop-pet-main .text-wrapper-4 {
  color: #ffffff;
  font-family: "Material Icons", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.desktop-pet-main .clean-current-button {
  height: 81px;
  left: 88px;
  position: absolute;
  top: 0;
  width: 135px;
}

.desktop-pet-main .ellipse-3 {
  background-color: #0a78ff;
  border-radius: 52.5px / 29.5px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 105px;
}

.desktop-pet-main .text-wrapper-5 {
  color: #ffffff;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 19.75%;
  left: 29.63%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80.25%;
  width: 70.37%;
}

.desktop-pet-main .text-wrapper-6 {
  color: #ffffff;
  font-family: "Material Icons", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.desktop-pet-main .clean-inoneclick {
  height: 75px;
  left: 65px;
  position: absolute;
  top: 59px;
  width: 111px;
}

.desktop-pet-main .ellipse-4 {
  background-color: #0a78ff;
  border-radius: 32.59px / 19.71px;
  height: 39px;
  left: 5px;
  position: absolute;
  top: 12px;
  transform: rotate(25.46deg);
  width: 65px;
}

.desktop-pet-main .text-wrapper-7 {
  color: #ffffff;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 22.18%;
  left: 5.11%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 77.82%;
  width: 94.89%;
}

.desktop-pet-main .text-wrapper-8 {
  color: #9d9d9d;
  font-family: "Material Icons", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.desktop-pet-main .text-wrapper-9 {
  color: #cccccc;
  font-family: "Material Icons", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.desktop-pet-main .text-wrapper-10 {
  color: #ffffff;
  font-family: "Material Icons", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
