.detailed-card {
  background-color: #c1c1c1;
  min-height: 555px;
  min-width: 757px;
  position: relative;
  width: 100%;
}

.detailed-card .last-and-next {
  display: flex;
  gap: 51px;
  height: 29px;
  left: 335px;
  position: absolute;
  top: 504px;
  width: 91px;
}

.detailed-card .text-wrapper {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  width: 18px;
}

.detailed-card .opengraphimage {
  aspect-ratio: 0.75;
  height: 443px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 332px;
}

.detailed-card .OG-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 171px;
  left: 397px;
  position: absolute;
  top: 311px;
  width: 259px;
}

.detailed-card .OG-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 61px;
}

.detailed-card .title {
  height: 17px;
  position: relative;
  width: 50px;
}

.detailed-card .rectangle {
  background-color: #000000;
  border-radius: 6px;
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.detailed-card .div {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.detailed-card .content {
  align-items: center;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 39px;
  justify-content: center;
  padding: 13px 3px;
  position: relative;
  width: 259px;
}

.detailed-card .titlecontent {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.detailed-card .OG-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 66px;
}

.detailed-card .description-title {
  background-color: #000000;
  border-radius: 6px;
  display: flex;
  width: 95px;
}

.detailed-card .text-wrapper-2 {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 7px;
  width: 82px;
}

.detailed-card .describe-content {
  align-items: flex-start;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 44px;
  position: relative;
  width: 259px;
}

.detailed-card .description {
  align-items: flex-end;
  color: #000000;
  display: flex;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 32px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 147px;
}

.detailed-card .OG-URL {
  height: 20px;
  position: relative;
  width: 256px;
}

.detailed-card .rectangle-2 {
  background-color: #efefef;
  border-radius: 8px;
  height: 20px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 202px;
}

.detailed-card .group {
  height: 20px;
  left: calc(50.00% - 128px);
  position: absolute;
  top: 0;
  width: 260px;
}

.detailed-card .text-wrapper-3 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  justify-content: center;
  left: calc(50.00% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 3px;
  width: 202px;
}

.detailed-card .rectangle-3 {
  background-color: #000000;
  border-radius: 6px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.detailed-card .text-wrapper-4 {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
}

.detailed-card .URL {
  background-color: #00bbff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  display: flex;
  height: 20px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 50px;
}

.detailed-card .text-wrapper-5 {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 17px;
  margin-top: 3px;
  white-space: nowrap;
  width: 16px;
}

.detailed-card .favicon {
  aspect-ratio: 1;
  height: 44px;
  left: 400px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 44px;
}

.detailed-card .close-button {
  color: #ffffff;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 706px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}
