.information {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
}

.information .info-card {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ededed;
  border-radius: 11px;
  box-shadow: 0px 1px 4px #00000040;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  overflow: hidden;
  padding: 13px 18px;
  position: relative;
  width: 100%;
}

.information .status-sentence {
  height: 12px;
  position: relative;
  width: 93px;
}

.information .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.information .div {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.information .selected-number {
  align-items: center;
  color: #0a78ff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.information .button-function {
  align-self: stretch;
  height: 12px;
  position: relative;
  width: 100%;
}

.information .rename-string {
  align-items: center;
  color: #0077ff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.information .frame {
  align-self: stretch;
  height: 23px;
  position: relative;
  width: 100%;
}

.information .delete-button {
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  height: 23px;
  left: calc(50.00% - 154px);
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 47px;
}

.information .text-wrapper-2 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 22px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 13px;
  text-align: center;
  width: 20px;
}

.information .name-button {
  background-color: #61caff;
  border-radius: 5px;
  display: flex;
  height: 23px;
  left: calc(50.00% - 98px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 66px;
}

.information .text-wrapper-3 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 13px;
  margin-top: 6px;
  text-align: center;
  white-space: nowrap;
  width: 40px;
}

.information .openurl-button {
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  height: 23px;
  left: calc(50.00% - 24px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 54px;
}

.information .text-wrapper-4 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 17px;
  margin-top: 6px;
  text-align: center;
  white-space: nowrap;
  width: 20px;
}

.information .download-url-button {
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  height: 23px;
  left: calc(50.00% + 40px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 54px;
}

.information .text-wrapper-5 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 7px;
  margin-top: 6px;
  text-align: center;
  white-space: nowrap;
  width: 40px;
}

.information .div-wrapper {
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  height: 23px;
  justify-content: center;
  left: calc(50.00% + 102px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 55px;
}

.information .text-wrapper-6 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "FZLanTingYuanS-R-GB-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  margin-top: 6px;
  text-align: center;
  white-space: nowrap;
  width: 31px;
}
